<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cat Food Calculator</title>
    <link href="indexStyle.css" type="text/css" rel="stylesheet">
</head>

<!- --------------------- BODY starts ---------------------  ->

<body>

<div class="flex-container1">

    <img src="\spring5-cat-food-calculator-app\src\main\resources\static\images\cat.png"
         alt="Cat Icon">
    <h1>Cat Food Calculator</h1>

</div>


<div class="flex-container2">

    <p1 >1). Choose the type of food which you want to calculate</p1>

    <button class="button button1">Dry / wet food</button>
    <button class="button button1">Mix food</button>

</div>

</body>

<!- --------------------- BODY ends ---------------------  ->

</html>