<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Mix food</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/calculationFormStyle.css}" />
</head>

<!- --------------------- BODY starts ---------------------  ->

<body>

    <div class="flex-container1">

        <div>
            <p><u>Mix food calculation</u></p>
        </div>

        <div>
            <p1>Provide information about cat and food</p1>
        </div>

            <!--/*@thymesVar id="cat" type="pl.jarugalucas.spring5catfoodcalculatorapp.model.Cat"*/-->
        <form action="#" th:object="${cat}" th:action="@{/2/postCatData}" method="post">
            <div>
                    <fieldset>
                        <legend>Cat weight in grams (g)</legend>
                            <div>
                                <input required type="text" id="catWeight" name="catWeight" maxlength="5" size="4" th:field="*{weight}" />
                            </div>
                    </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>How much wet food per day in grams (g)</legend>
                        <div>
                            <input required type="text" id="wetFood" name="wetFoodValue" maxlength="5" size="4" th:field="*{wetFoodValue}"/>
                        </div>
                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend>Number of meals per day</legend>
                        <div>
                            <input required type="text" id="noMeals" name="noMeals" maxlength="1" size="2" th:field="*{noMeals}"/>
                        </div>
                </fieldset>
            </div>

            <div class="button-container">
                <button type="submit" class="button button1">Calculate</button>
            </div>

        </form>
    </div>

    <div class="flex-container2">

        <div>
            <form th:action="@{index.html/getIndex}" method="get">
                <button type="submit" class="button button1">Go back</button>
            </form>
        </div>

    </div>

</body>

<!- --------------------- BODY ends ---------------------  ->

</html>